body {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    overflow-x: auto;
}

.sidebar-left{
    display: flex;
    flex-direction:column;
    gap: 10px;
    width: 200px;
    height: 500px;
    border-right: 1px solid #ccc;
}

.sidebar-right {
    display: flex;
    flex-direction:column;
    width: 200px;
    border-left: 1px solid #ccc;
}

.scroll-options {
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 200px;
    height: 40%;
    overflow-y: auto; /* Enable vertical scrolling */
    border-right: 1px solid #ccc;
}

#canvas {
    border: 1px solid #fff;
    margin-top: 20px;
}

/* Style the buttons inside the div */
button {
    padding: 10px 5px;
    font-size: 8px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Change the background color of the buttons on hover */
button:hover {
    background-color: #0056b3;
}

/* Container for canvas and info div */
.container {
    width: fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.record-station {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Info container next to the canvas */
.info-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Style for the labels inside the info container */
.info-container label {
    font-size: 14px;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
}